@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {    
    margin: 0;
    flex-direction: column;
    background: linear-gradient(to left, #ca7104, #ad2702);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}