.header {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;   
}

.contact li {    
    list-style: none;
}

.contact li button {
    background-color: transparent;
    color: white;
    padding: 5px 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase; 
    
    text-shadow: 0px 0px 10px rgb(255, 145, 0),
                 0px 0px 20px rgb(255, 145, 0),
                 0px 0px 30px rgb(255, 145, 0),
                 0px 0px 400px rgb(255, 145, 0)
}   

.contact li button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.contact a {
    text-decoration: none;
    color: lightgray;
}

.logo img {
    width: 26rem;
    height:  8rem;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }
}